{{navbar-fixed}}
<div class="container">
  <h2>Curiousity killed the cat, so let's answer it so kitties live!</h2>
  <ul>
    {{#each model as |question|}}
      {{question-tile question=question update="update"}}
    {{/each}}
  </ul>
</div>
